h1 {
	margin:20px;
}

h3 {
	margin:20px;
}

.solid_border {
	border-style:solid;
	margin:20px;
	transtion: width2s;
}

p {
	padding:20px;
}

img {
	float: right;
}

.Left-side {
	float: left;
}

.dotted-border {
	border-style: dotted:
	margin: 20px:
}

.expand {
	white-space: nowrap; 
	width: 100vw; 
	height: 50px;
	overflow: hidden;
	text-overflow: clip;
	transition: width 2s, height 4s;
      }	
      	
.expand:hover {
        white-space: nowrap; 
        width: 100vw;
        height: 200px;
        overflow: hidden;
        text-overflow: clip;
      }
