<DOCTYPE! html>
  <html>
    <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
	  <!-- link to jQuery -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	   <link rel="stylesheet" type="text/css" href="static/style.css">
      <title> Nuclear explosions data </title>

      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title:{
                    text: "Nuclear Bomb Tests from 1945 to 2000"
                },
                axisX: {
                    title: "Year",
                    interval: 5
                },
                axisY: {
                    title: "Number of Tests",
                    includeZero: true
                },
                data: [{        
                    type: "line",
                    indexLabelFontSize: 16,
                    dataPoints: [
			{ x: 1944, y: 0},
                        { x: 1945, y: {{TO45}} },
                        { x: 1950, y: 20 },
                        { x: 1955, y: 65 },
                        { x: 1960, y: 178 },
                        { x: 1965, y: 350 },
                        { x: 1970, y: 450 },
                        { x: 1975, y: 520 },
                        { x: 1980, y: 580 },
                        { x: 1985, y: 610 },
                        { x: 1990, y: 625 },
                        { x: 1995, y: 630 },
                        { x: 2000, y: 632 }
                    ]
                }]
            });
            chart.render();
        }
    </script>
	    
    </head>
    <body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href=".">Nuclear explosions</a>
			</div>
			<ul class="nav navbar-nav">
			  <li  class="active"><a href="/">About the Data</a></li>
			  <li ><a href="/page2">Nuclear Test Per Year</a></li>
			  <li ><a href="/page3">Nuclear Test Conducted Per Country</a></li>
			  <li ><a href="/page4">Increase In Nuclear Test Per Year</a></li>
			  <li ><a href="/page5">The Effects Of These Bombs</a></li>
			</ul>
		  </div>
		</nav>

	    
	    
	    <h1>The increase in nuclear bomb test per year</h1>
	     <div id="chartContainer" style="height: 370px; width: 100%;"></div>
	</body>
  </html>
