<DOCTYPE! html> <!-- This is just an extra part of the website I wanted to make on my free time sense while researching the topic I discoverd what things have been caused by nuclear bombs and wanted to include it as a little personal side project -->
  <html>
    <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
	  <!-- link to jQuery -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	   <link rel="stylesheet" type="text/css" href="static/style.css">
      <title> Nuclear explosions data </title>
    </head>
    <body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href=".">Nuclear explosions</a>
			</div>
			<ul class="nav navbar-nav">
			  <li  class="active"><a href="/">About the Data</a></li>
			  <li ><a href="/page2">Nuclear Test Per Year</a></li>
			  <li ><a href="/page3">Nuclear Test Conducted Per Country</a></li>
			  <li ><a href="/page4">Increase In Nuclear Test Per Year</a></li>
			  <li ><a href="/page5">The Effects Of These Bombs</a></li>
			</ul>
		  </div>
		</nav>
	    <h1>The effects of the bombs</h1>
	    <p>The effects that nuclear bombs have had on humaity as a whole is vast, but the effect on indivisual communities is also vast although typically ignored.</p>
	    <div class=solid_border">
	    	<h3>The indevidual effect</h3>
		<div class="expand">
	    		<p>While the only nuclear bombs used in warfare/combat were the ones dropped on the Japanese city's of Nagasaki and Hiroshima the citizens of those cities were not the only victims of the nuclear bomb.</p>
	    	</div>
	    </div>
	</body>
  </html>
